<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .button-delete {
        text-decoration: none;
    }
</style>
<body>
<ul>
    <br>
    <form action="/" method="post">
{#        {% csrf_token %}#}
        <input type="text" name="task">
        <button>添加todo</button>
    </form>
    {% for todo in todo_list %}
        <li>
            <button ><a class="button-delete" href="delete/{{ todo.id }}">删除</a></button>
            {{ todo.task }}

        </li>
    {% endfor %}
</ul>

</body>
</html>