<html>
<head>
    <title>Todo</title>
    <!-- 静态文件放在 /static 文件夹中 -->
    <!-- 引用路径是 /static/... -->
    <link rel="stylesheet" href="css/pure-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css"
          integrity="sha384-CCTZv2q9I9m3UOxRLaJneXrrqKwUNOzZ6NGEUMwHtShDJ+nCoiXJCAgi05KfkLGY"
          crossorigin="anonymous">
    <style type="text/css">
    .todo-table {
        margin: 0 auto;
    }
    .center {
        text-align: center;
    }
    </style>
</head>

<body>
    <div class="center">
        <h1>Todo</h1>
        <!-- 注意这里 的 url_for 也是需要加上蓝图名字前缀的 -->
        <form action="/"  method="post">
            <input type="text" placeholder="Add Todo" name="task">
            <button class="pure-button pure-button-primary" type="submit" value="Add">Add</button>
        </form>
    </div>

    <table class="todo-table pure-table pure-table-horizontal pure-table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Time</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for todo in todo_list %}
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.task }}</td>
                <td>{{ todo.ct }}</td>
                <td><a href="delete/{{ todo.id }}">delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>